header {
    background-color: #024d2a;
    padding: 25px;
    text-align: center;
  }

header a {
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
  }