# See http://help.github.com/ignore-files/ for more about ignoring files.

/web/package-lock.json
/web/.gitignore

# compiled output
/web/dist
/web/tmp
/web/out-tsc
# Only exists if Bazel was run
/web/bazel-out

# dependencies
/web/node_modules

# profiling files
/web/chrome-profiler-events*.json

# IDEs and editors
/web/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/web/.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/web/.sass-cache
/web/connect.lock
/web/coverage
/web/libpeerconnection.log
/web/npm-debug.log
/web/yarn-error.log
/web/testem.log
/web/typings

# System Files
/web/.DS_Store
/web/Thumbs.db
