mat-grid-list {
    margin: 10px;
}
mat-card {
    padding: 8px;
}
p {
    margin: 0px;
    color: black;
}
.product-card {
    background-color: white;
    max-width: 400px;
    height: fit-content;
}
.action-bar {
    margin: 8px;
}