<section class="action-bar">
    <button mat-raised-button color="primary" routerLink="/add-product">Add new product</button>
</section>
<mat-grid-list cols=4 rowHeight="3:4">
    <mat-grid-tile *ngFor="let product of products">
          <mat-card class="product-card" (click)="selectProduct(product.id)">
            <mat-card-content>
                <img class="product-image" mat-card-image src={{product.imageUrl}}>
                <p class="product-price">{{product.price | currency: 'VND'}}</p>
                <p>
                    {{product.name}}
                </p>
                <p>
                    {{product.category}}
                </p>
            </mat-card-content>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>
