@import "/src/styles.scss";

.add-container {
  @include make-container();

  background-color: #5f4587;
}

.form-card {
  margin: 20px;
  width: 50%;
  background-color: #ffffff;
}

mat-form-field {
  width: 100%;
}

mat-label {
  font-weight: lighter;
}

mat-radio-group {
  mat-radio-button {
    margin-inline: 10px;
  }
}

button {
  width: 100px;
  height: 50px;
  margin-right: 10px;
  margin-block: 10px;
}
