<div class="body">
    <div class="left-body">
      <div class="box">
        <p>
          Address
        </p>
      </div>
      <div class="box">
        <p>
          Email
        </p>
      </div>
      <div class="box">
        <p>
          Phone
        </p>
      </div>
    </div>
    <div class="right-body">
      <h1>
        Address
      </h1>
      <p>
        Address 1: No. 10, St. 5, Cat Lai ward, Thu Duc city
      </p>
      <p>
        Address 2: No. 244, Nguyen Thi Dinh, Binh Trung Tay ward, Thu Duc city 
      </p>
    </div>
</div>