.body {
    display: flex;
    flex-direction: row;
}
.left-body {
    flex: 1;
    padding: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-container {
    height: fit-content;
}
.left-body h1 {
    margin: 12px 0px 36px 0px;
    height: fit-content;
    font-size: xx-large;
}
.left-body p {
    margin: 12px 0px 12px 0px;
    height: fit-content;
    font-size: large;
}
.right-body {
    flex: 1;
    display: flex;
    align-items: center;
}
.right-body form {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    padding: 20px;
    background-color: aquamarine;
}
.field {
    flex: 1;
    margin: 10px 0px 10px 0px;
}
label {
    width: 100%;
}
input {
    width: -webkit-fill-available;
    height: 20%;
    border: none;
    padding: 10px;
    margin-top: 5px;
    border-radius: 2%;
}
textarea {
    height: 70%;
    border: none;
    padding: 5px;
    margin-top: 5px;
    width: -webkit-fill-available;
    border-radius: 1%;
}
.message {
    flex: 3;
    margin: 10px 0px 10px 0px;
}
.btn {
    flex: 1;
    display: flex;
    justify-content: center;
}
.submit-btn {
    width: 40%;
    background-color: yellow;
    border: none;
    border-radius: 5%;
    margin: 10px 0px 10px 0px;
}
.submit-btn:hover {
    background-color: coral;
    cursor: pointer;
}