<div class="container">
    <h2>Add new product</h2>

    <form class="form">
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Name</mat-label>
            <input required matInput placeholder="Nguyen Van A" type="text" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Price</mat-label>
            <input required matInput placeholder="100" type="number" [(ngModel)]="product.price" name="price">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>In Stock</mat-label>
            <input required matInput placeholder="100" type="number" [(ngModel)]="product.inStock" name="inSock">
        </mat-form-field>
        <mat-form-field class="form-field" appearance="fill">
            <mat-label>Image Url</mat-label>
            <input required matInput placeholder="https://picsum.photos/300/300" type="text" [(ngModel)]="product.image" name="imageUrl">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="onSubmit()">Add</button>
    </form>

</div>