<div class="container">
    <h2>Add new product</h2>

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="product.name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput [(ngModel)]="product.price">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>In Stock</mat-label>
        <input matInput [(ngModel)]="product.inStock">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Image Url</mat-label>
        <input matInput [(ngModel)]="product.image">
    </mat-form-field>

    <button mat-raised-button color="primary">Add</button>
</div>