
<div class="content">
  <div class="tool-bar">
    <button mat-raised-button color="primary" (click)="openDialog()">Thêm sản phẩm</button>
  </div>


  <div class="list-product">



    <mat-card
      class="item-card"
      *ngFor="let item of products; let i = index"
      (click)="onSelect(item)"
    >

      <img
        mat-card-image
        src={{item.productImage}}
        alt=""

      >
      <span class="price">{{item.productPrice | currency : 'VND':'symbol'}}</span>

      <mat-card-content

      >
          <p>{{item.productTitle}}</p>
      </mat-card-content>

      <div
        class="btn-remove"
        (click)="onRemoveItem((item.productId))"
      >
        X

      </div>
    </mat-card>

  </div>
</div>
