<div class="container">
  <div class="header">
    <ul>
      <li><button mat-stroked-button routerLink="/home">Home</button></li>
      <li><button mat-stroked-button routerLink="/about-us">About Us</button></li>
      <li><button mat-stroked-button routerLink="/our-clients">Our Client</button></li>
      <li><button mat-stroked-button routerLink="/contact">Contact Us</button></li>
    </ul>
  </div >
  <div class="main">
      <router-outlet></router-outlet>
    </div>
    
    <div class="footer">
      <div style="width: fit-content;">Nguyen Hai Dang All Rights Reserved</div>
    </div>
</div>