

.header {
  height: 80px;
  background-color: #304d63;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: white;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  li {
    margin: 0 20px;
  }
  li:hover a {
    font-size: 1.1rem;
    color: yellow;
  }
}

.main {
    background-color: white;
}

.footer {
  height: 80px;
  background-color: #304d63;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
