.header {
  height: 80px;
  background-color: #304d63;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    color: white;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  li {
    margin: 0px 20px;
    button {
      color: white;
    }
  }
}

.main {
  background-color: white;
}

.footer {
  height: 80px;
  background-color: #304d63;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
