<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <base href="/">
    <title>Hi</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
</head>
<body>
  <nav>
    <ul class="top-navigation">
      <li><a href="" routerLink="/">Home</a></li>
      <li><a href="" routerLink="/about">About Us</a></li>
      <li><a href="" routerLink="/clients">Our Clients</a></li>
      <li><a href="" routerLink="/contact">Contact Us</a></li>
    </ul>
  </nav>
  <!-- <div class = "main-content">
  <aside>
    <ul class="side-navigation">
      <a href="#the-flight"><li>The Flight</li></a>
      <a href="#the-city"><li>The City</li></a>
      <a href="#the-island"><li>The Island</li></a>
      <a href="#the-food"><li>The Food</li></a>
    </ul>
  </aside>
  
  <section>
    <article>
      <h2 id="the-flight">
        The Flight
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada laoreet sem id euismod. Etiam tristique mi quis magna aliquam ornare. Ut interdum ligula in sem feugiat eleifend. Duis fermentum elit in risus porttitor viverra. Praesent consectetur nisl commodo velit interdum dictum. Duis luctus, lectus at porttitor sollicitudin, nisi justo aliquam ex, ut lobortis augue felis a justo. Aliquam fringilla nec est sit amet congue. Praesent maximus ultrices porta.
      </p>
    </article>
    <article>
      <h2 id="the-city">
        The City
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada laoreet sem id euismod. Etiam tristique mi quis magna aliquam ornare. Ut interdum ligula in sem feugiat eleifend. Duis fermentum elit in risus porttitor viverra. Praesent consectetur nisl commodo velit interdum dictum. Duis luctus, lectus at porttitor sollicitudin, nisi justo aliquam ex, ut lobortis augue felis a justo. Aliquam fringilla nec est sit amet congue. Praesent maximus ultrices porta.
      </p>
    </article>
    <article>
      <h2 id="the-island">
        The Island
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada laoreet sem id euismod. Etiam tristique mi quis magna aliquam ornare. Ut interdum ligula in sem feugiat eleifend. Duis fermentum elit in risus porttitor viverra. Praesent consectetur nisl commodo velit interdum dictum. Duis luctus, lectus at porttitor sollicitudin, nisi justo aliquam ex, ut lobortis augue felis a justo. Aliquam fringilla nec est sit amet congue. Praesent maximus ultrices porta.
      </p>
    </article>
    <article>
      <h2 id="the-food">
        The Food
      </h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada laoreet sem id euismod. Etiam tristique mi quis magna aliquam ornare. Ut interdum ligula in sem feugiat eleifend. Duis fermentum elit in risus porttitor viverra. Praesent consectetur nisl commodo velit interdum dictum. Duis luctus, lectus at porttitor sollicitudin, nisi justo aliquam ex, ut lobortis augue felis a justo. Aliquam fringilla nec est sit amet congue. Praesent maximus ultrices porta.
      </p>
    </article>
  </section>
  </div> -->
  <router-outlet></router-outlet>
  <footer>
    <p>
      Menu footer
    </p>
  </footer>
</body>
</html>