
<!-- {{product.id}} -->
<div class="content-product">
    <div class='item1'>
        <img  [src]="product.img" [alt]="product.name">
        <p>
          {{product.detail}}
        </p>
    </div>
    <div class='item2'>
        <h1>{{product.name}}</h1>
        <p>{{product.price}} đ</p>
        <!-- {{product.size}} -->
        <span>
            <button class="button" *ngFor="let s of product.size;let index = index"> {{s.size}}--{{s.nop}}
        </button>
            <!-- <mat-button-toggle-group>
                <button class="button" >{{s}}</button>
                <mat-button-toggle *ngFor="let s of product.size"> {{s}}</mat-button-toggle>
            </mat-button-toggle-group> -->
            
        </span>
        <br>
        <div >
          <button class="button_delete" (click)="onUpdate()" > Update</button>
        <button class="button_delete" (click)="onDelete()" > Delete</button>
        <!-- <button class="button_delete" > Add to cart</button> -->
        </div>
        <p>
        <span>
        <mat-icon svgIcon="car" ></mat-icon> GIAO HÀNG MIỄN PHÍ
      </span>
    </p>
    <p>
      <span>
      <mat-icon svgIcon="note" ></mat-icon> Không đúng kích cỡ hoặc màu sắc? Vui lòng truy cập trang Trả lại hàng & Hoàn tiền của chúng tôi để biết chi tiết
    </span>
  </p>
    </div>

</div>
<!-- <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        This is the expansion title
      </mat-panel-title>
      <mat-panel-description>
        This is a summary of the content
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the primary content of the panel.</p>
  </mat-expansion-panel> -->