<div class="card">
    <div class="class-header">
        <strong>
            Add product
        </strong>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="textbox" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" id="price" class="form-control">
            </div>
            <div class="form-group">
                <label for="size">Size</label>
                <input type="checkbox" id="size" class="">
            </div>
            <button class="btn btn-primary btn-block">Add</button>
        </form>
    </div>
</div>