.content {
  width: 100%;
  height: calc(100% - 20px);
  overflow-y: auto;
  display: flex;
  padding-top: 20px;

  .slider-image {
    width: 50%;

    img {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
        0 3px 12px 0 rgba(0, 0, 0, 0.19);
      height: 90%;
      display: block;
      margin: auto;
    }
  }
  .info-details {
    h1 {
      font-size: 32px;
    }
    p {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
    }
    span {
      margin-top: 30px;
      font-size: 18px;
    }
    .table-size {
      display: flex;
      margin-top: 10px;
      .size {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        border: 1px solid rgb(141, 141, 141);
        cursor: pointer;
        &:hover {
          color: #ffffff;
          background-color: black;
        }
      }
    }
  }
}
