<div class="header">
   
<!-- <img src="https://image.shutterstock.com/image-vector/group-smiling-people-team-young-260nw-1677180133.jpg" alt="I am cat"> -->
<h1>About Us</h1>
</div>
<div class="content">
    <h1>WHO ARE WE ?</h1>
    <span>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has 
        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
        popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScB6GYD2MyEvj0xfq9HRp12rEM79zEQulmOw&usqp=CAU" alt="cat">
</span>

</div>
<!-- <input type="text" 
    
    [(ngModel)]="message"
  >
  {{message}} -->
