#container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    flex: 1 0 20vh;
    display: flex;
}
.footer {
    flex: 1 0 20vh;
    display: flex;
}
.router {
    flex: 3 0 60vh;
}