@import "/src/styles.scss";
// Creates a wrapper for a series of columns

.product-details {
  width: 80%;
  img {
    width: 98%;
    height: 98%;
  }
}

.side-bar {
  padding: 10px;
  position: sticky;
  height: 800px;
  top: 0px;
}

.sizes {
  mat-button-toggle-group {
    border: none;
  }
  mat-button-toggle {
    width: 100px;
    border: 1px solid;
    margin: 5px;
  }
}

.specifications {
  li {
    padding: 10px;
  }
}
