@import "/src/styles.scss";
// Creates a wrapper for a series of columns

.product-container {
  width: 800px;
  @include make-container();
}
.product-row {
  @include make-row();
}

.product-details {
  @include make-col-ready();

  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
}

.buy-description {
  @include make-col-ready();

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }

  position: sticky;
  height: 800px;
  background-color: yellow;
  top: 0px;
}
