<div class="product-container">
  <div class="product-row">
    <div class="product-details">
      <mat-card>
        <img
          mat-card-image
          [src]="currentProduct.image"
          alt="currentProduct.name"
        />
        <mat-card-content> </mat-card-content>
      </mat-card>
      <h1>GIÀY {{ currentProduct.name }} ULTRABOOST</h1>
      <span>Cloud White / Red / Shock Blue / Green</span>
      <div>{{ currentProduct.price }}.000.000 vnd</div>
      <div>No returns, no refunds</div>
      <div>
        Đơn hàng được xác nhận sau khi xác nhận thanh toán. Không đổi hàng, trả
        hàng hay hoàn tiền trừ trường hợp pháp luật có quy định khác. Sản phẩm
        này không áp dụng bất kỳ chương trình ưu đãi và khuyến mãi nào. Giới hạn
        số lượng 1 sản phẩm trên mỗi đơn hàng.
      </div>
      <div>
        <p>Chon Size</p>
      </div>
      <h1>GIÀY ADIDAS ULTRABOOST</h1>
      <span>Cloud White / Red / Shock Blue / Green</span>
      <div>5.000.000 vnd</div>
      <div>No returns, no refunds</div>
      <div>
        Đơn hàng được xác nhận sau khi xác nhận thanh toán. Không đổi hàng, trả
        hàng hay hoàn tiền trừ trường hợp pháp luật có quy định khác. Sản phẩm
        này không áp dụng bất kỳ chương trình ưu đãi và khuyến mãi nào. Giới hạn
        số lượng 1 sản phẩm trên mỗi đơn hàng.
      </div>
      <div>
        <p>Chon Size</p>
      </div>
      <h1>GIÀY ADIDAS ULTRABOOST</h1>
      <span>Cloud White / Red / Shock Blue / Green</span>
      <div>5.000.000 vnd</div>
      <div>No returns, no refunds</div>
      <div>
        Đơn hàng được xác nhận sau khi xác nhận thanh toán. Không đổi hàng, trả
        hàng hay hoàn tiền trừ trường hợp pháp luật có quy định khác. Sản phẩm
        này không áp dụng bất kỳ chương trình ưu đãi và khuyến mãi nào. Giới hạn
        số lượng 1 sản phẩm trên mỗi đơn hàng.
      </div>
      <div>
        <p>Chon Size</p>
      </div>
    </div>
    <div class="buy-description">
      <h1>GIÀY {{ currentProduct.name }} ULTRABOOST</h1>
      <span>Cloud White / Red / Shock Blue / Green</span>
      <div>{{ currentProduct.price }}.000.000 vnd</div>
      <div>No returns, no refunds</div>

      <div>
        <span>sizes: </span>
        <span *ngFor="let size of currentProduct.sizes"> {{ size }} </span>
      </div>
      <div>
        Đơn hàng được xác nhận sau khi xác nhận thanh toán. Không đổi hàng, trả
        hàng hay hoàn tiền trừ trường hợp pháp luật có quy định khác. Sản phẩm
        này không áp dụng bất kỳ chương trình ưu đãi và khuyến mãi nào. Giới hạn
        số lượng 1 sản phẩm trên mỗi đơn hàng.
      </div>
      <div>
        <p>Chon Size</p>
      </div>

      <h1>GIÀY {{ currentProduct.name }} ULTRABOOST</h1>
      <span>Cloud White / Red / Shock Blue / Green</span>
      <div>{{ currentProduct.price }}.000.000 vnd</div>
      <div>No returns, no refunds</div>
      <div>
        Đơn hàng được xác nhận sau khi xác nhận thanh toán. Không đổi hàng, trả
        hàng hay hoàn tiền trừ trường hợp pháp luật có quy định khác. Sản phẩm
        này không áp dụng bất kỳ chương trình ưu đãi và khuyến mãi nào. Giới hạn
        số lượng 1 sản phẩm trên mỗi đơn hàng.
      </div>
      <div>
        <p>Chon Size</p>
      </div>
    </div>
  </div>
</div>
