<style>

  
</style>    
    <header class="nav_header">
      
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about-us" routerLinkActive="active">About Us</a>
      <a routerLink="/our-clients" routerLinkActive="active">Our Clients</a>
      <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
      
    </header>
    <!-- <app-home></app-home> -->
    <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
    
<router-outlet></router-outlet>
