// .container {
//     height: 100vh;   
//     flex-direction: column;
//     display: flex;
//   }

.header {
    background-color: #124026;
    display: flex;
    min-height: 20px;
    height: 10vh;
    justify-content: space-evenly;

    a {
        text-decoration: none;
        color: white;
        display:flex;
        align-items:center;
        font-size: 20px;
    }
    a:hover {
        text-decoration: underline;
    }
}

.body {
    display: flex;
    flex: 8;
    max-height: 80vh;

    .side {
        padding: 2% 2%;
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        a {
            display: block;
            color: white;
            padding: 8px 16px;
            margin: 2% 2%;
            text-decoration: none;
            background: #25495F;
        }
    }
    .main {
        flex: 8;
        overflow: auto;
        display: flex;
        flex-flow: column;
    }
}

.footer {
    background-color: #124026;
    display: flex;
    font-size: 20px;
    color: white;
    align-items:center;
    padding-left: 2%;
    min-height: 20px;
    height: 10vh;
}