<ul class="nav nav-pills bg-success justify-content-center p-3">
  <li class="nav-item">
    <a
      class="nav-link link-light"
      routerLink="home"
      routerLinkActive="active current"
      >Home</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link link-light"
      routerLink="products"
      routerLinkActive="active current"
      >Products</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link link-light"
      routerLink="aboutUs"
      routerLinkActive="active current"
      >About Us</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link link-light"
      routerLink="ourClients"
      routerLinkActive="active current"
      >Our Clients</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link link-light"
      routerLink="contactUs"
      routerLinkActive="active current"
      >Contact Us</a
    >
  </li>
</ul>
