<div class="products-container">
    <div class="products-header">
        <h1> Products </h1>
    </div>
    <div class="menu">
        <div class="menu-option">
            <div (click)="onChangeType(0)"> Dog </div>
            <div (click)="onChangeType(1)"> Cat </div>
            <div (click)="onChangeType(2)"> Other </div>
        </div>
        <div class="menu-action">

        </div>
    </div>
    <div class="products-body">
        <div *ngFor="let i of list" class="product">
            <!-- <mat-card *ngIf="type == i.type" class="card" [routerLink]="['/products', i.id]">
                <mat-icon class="liked" [ngStyle]="{'color': likedColor(i.liked)}" (click)="like(i)"> favorite </mat-icon>
                <img mat-card-image [src]="i.img" alt="Photo of a Shiba Inu" class="card-img">
                <mat-card-content class="card-content">
                    <p>
                        {{i.name}}
                    </p>
                </mat-card-content>
            </mat-card> -->
            <app-card class="card" *ngIf="type == i.type" [data]="i" (iconClick)="like(i)"></app-card>
        </div>
    </div>
</div>
