<div class="body">
    <div class="left-body">
      <!-- {data.map(i => (
        <div class="box">
          <p>
            {i.title}
          </p>
        </div>
      ))} -->
      <!-- {{data[0].title}} -->
      <div class="box">
        <p>
          The Flight
        </p>
      </div>
      <div class="box">
        <p>
          The City
        </p>
      </div>
      <div class="box">
        <p>
          The Island
        </p>
      </div>
      <div class="box">
        <p>
          The Food
        </p>
      </div>
    </div>
    <div class="right-body">
      <h1>
        The City
      </h1>
      <p>
        Chania is the capital of the Chania region on the island of Crete. The city can be divided into two parts, the old town and the modern city.
      </p>
      <p>
        You will learn more about web layout and responsive web pages in a later chapter.
      </p>
    </div>
</div>