
<form [formGroup]="addForm" (ngSubmit)="submitFormAdd()">
    <label for="pname">Name Product</label>
    <input type="text" formControlName="productname" id="pname"><br>
    <label for="price">Price</label>
    <input type="number" id="price" formControlName="productprice" ><br>
    <label for="img">Link Image</label>
    <input type="text" id="img" formControlName="productimage" ><br>
    <label for="detail">Product detail</label>
    <input type="text" id="img" formControlName="productdetail" ><br>
    <!-- <span *ngFor="let size of [28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]">
        <mat-checkbox (change)="checkCheckBoxvalue($event,size)" >{{size}}</mat-checkbox>
        </span> -->
    <span *ngFor="let size of this.list_size">
<label class="center" [for]="size.size">{{size.size}}</label>
<input type="number" [id]="size.size" min=0 
[(ngModel)]="this.list_size[this.checkIndex(size.size)].nop"
[ngModelOptions]="{standalone: true}"> 
    </span>

    
        <br>
    <button type="submit"> Insert</button>
</form>
<!-- <app-about-us [num]=12></app-about-us> -->

<!-- {{this.list_size[0]?.nop}} -->
