<div class="content">
    <!-- <ul>
        <div  *ngFor="let product of products_list">
           <mat-card class="col1">
          <img mat-card-image 
          [src]="product.img">
          <mat-card-title>{{product.name}}</mat-card-title>
      </mat-card>
    </div>
      </ul> -->
      <!-- <mat-card>
          <img mat-card-image 
          src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/6a0d6246e26a4852825dad3900baddfd_9366/gi%C3%A0y-adidas-ultraboost-x-lego-colors.jpg">
          <mat-card-title>HiHi</mat-card-title>
      </mat-card> -->
    <div class="col1">
      <a href="home#the-flight">The Flight</a>
      <a href="home#the-city">The City</a>
      <a href="home#the-island">The Island</a>
      <a href="home#the-food">The Food</a>
    </div>
    <div class="col2">
        <!-- <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy,c_fill,g_auto/6a0d6246e26a4852825dad3900baddfd_9366/gi%C3%A0y-adidas-ultraboost-x-lego-colors.jpg"> -->
        <div id="the-flight">
            <h1> The Flight</h1>
            <p>
                Ho Chi Minh City (Vietnamese: Thành phố Hồ Chí Minh; 
                Vietnamese pronunciation: [tʰàjŋ̟ fǒ hò cǐ mīŋ̟] or 
                [tʰàn fǒ hò cǐ mɨ̄n] (About this soundlisten)), 
                or Saigon (Vietnamese: Sài Gòn; [sàj ɣɔ̀n] or [ʂàj ɣɔ̀ŋ]), 
                is the largest city in Vietnam, situated in the south. 
                In the southeastern region, the city surrounds the Saigon River and covers about 2,061 square kilometres (796 square miles).
            </p><p>Prior to Vietnamese settlement in the 17th century, the city was a scarcely populated area that had been part of historic empires 
                of Funan, Champa, and Khmer. With the arrival of Vietnamese, the area became more populated and officials began establishing the city
                from 1623 to 1698. After it was ceded by the last Vietnamese dynasty to the French in 1862, the name Saigon was adopted and the city 
                underwent urbanisation to become a financial centre in the region. The city was the capital of South Vietnam until the end of the Vietnam 
                War with North Vietnamese victory in 1975. In 1976, the government of a unified Vietnam named Saigon in honour of Ho Chi Minh.
        
            </p>
        
        </div>
        
      <div id="the-city">
          <h1> The City</h1>
          <p>
              Ho Chi Minh City (Vietnamese: Thành phố Hồ Chí Minh; 
              Vietnamese pronunciation: [tʰàjŋ̟ fǒ hò cǐ mīŋ̟] or 
              [tʰàn fǒ hò cǐ mɨ̄n] (About this soundlisten)), 
              or Saigon (Vietnamese: Sài Gòn; [sàj ɣɔ̀n] or [ʂàj ɣɔ̀ŋ]), 
              is the largest city in Vietnam, situated in the south. 
              In the southeastern region, the city surrounds the Saigon River and covers about 2,061 square kilometres (796 square miles).
          </p><p>Prior to Vietnamese settlement in the 17th century, the city was a scarcely populated area that had been part of historic empires 
              of Funan, Champa, and Khmer. With the arrival of Vietnamese, the area became more populated and officials began establishing the city
              from 1623 to 1698. After it was ceded by the last Vietnamese dynasty to the French in 1862, the name Saigon was adopted and the city 
              underwent urbanisation to become a financial centre in the region. The city was the capital of South Vietnam until the end of the Vietnam 
              War with North Vietnamese victory in 1975. In 1976, the government of a unified Vietnam named Saigon in honour of Ho Chi Minh.

          </p>
      
      </div>
      <div id="the-island">
          <h1> The Island</h1>
          <p>
              Phu Quoc Island boasts idyllic beaches, romantic sunsets, evergreen forests, and a serene atmosphere, making it an ideal holiday destination 
              for travellers looking to escape bustling city life. Located 45 kilometres west of Ha Tien in the far south of Vietnam, the northern part of 
              the island is relatively untouched due to its status as a UNESCO-listed national park but there are plenty of luxurious resorts, funky bars, 
              and quaint cafes along the southern coastline.

Aside from beachside activities, visitors can also explore traditional villages, expansive nature parks and Buddhist pagodas, all of which are easily accessible
via motorcycle, taxi, bus or even daytrips by reputable companies. Catering to just about any budget level and preference, Phu Quoc’s dining scene ranges from 
local markets selling fresh seafood and Vietnamese street food to expat-owned bistros offering authentic western and European fare.
          </p>
      </div>
      <div id="the-food">
          <h1>The Food</h1>
          <p>
              Pho is essentially Vietnam’s signature dish, comprising rice noodles in a flavourful soup with meat and various greens, plus a side of nuoc cham 
              (fermented fish) or chilli sauce. A basic bowl contains tai (beef slices), bo vien (beef meatballs) or nam (beef flank), topped with bean sprouts, 
              lime wedges, and fresh herbs such as basil, mint, cilantro, and onions. Depending on the restaurant or roadside stall, you can also opt for more 
              exotic ingredients such as gan (beef tendon), sach (thinly-sliced pig stomach), and ve don (flank with cartilage). Typically eaten for breakfast, 
              pho is priced between VND 20,000 and VND 30,000 at a local restaurant or street market in Vietnam.
          </p>
      </div>
    </div>
</div> 

<!-- <router-outlet></router-outlet> -->