.container {
  height: 400px;
  display: flex;
  .slidebar {
    width: 25%;
    padding: 20px;
    a {
      color: white;
    }
    li {
      padding: 10px 20px;
      background-color: #8fb9aa;
      margin: 10px 0px;
    }
    li:hover {
      background-color: grey;
    }
  }

  .content {
    width: 75%;
    overflow-y: scroll;
  }
}
