<div class="content-container">
    <div class="left-col">
        <div class="left-option"> <a href="#the-flight">The Flight</a></div>
        <div class="left-option"> <a href="#the-city">The City</a> </div>
        <div class="left-option"> <a href="#the-island">The Island</a> </div>
        <div class="left-option"> <a href="#the-food">The Food</a> </div>
    </div>

    <div class="right-content">
        <div class="right-content-section">
            <h1 id="the-flight">The Flight</h1>
            <div class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In impedit at quod quas iusto adipisci veniam cumque, nulla quisquam! Explicabo praesentium odit quis nisi eaque blanditiis mollitia quia, debitis est.</div>
            <div class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In impedit at quod quas iusto adipisci veniam cumque, nulla quisquam! Explicabo praesentium odit quis nisi eaque blanditiis mollitia quia, debitis est.</div>
        </div>        
        
        <div class="right-content-section">
            <h1 id="the-city">The City</h1>
            <div class="content-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam porro perferendis eligendi exercitationem incidunt eius, dolor esse autem labore, quo reiciendis, fuga rerum minus dicta. Atque odio consequatur deserunt inventore!</div>
            <div class="content-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam porro perferendis eligendi exercitationem incidunt eius, dolor esse autem labore, quo reiciendis, fuga rerum minus dicta. Atque odio consequatur deserunt inventore!</div>
        </div>
        
        <div class="right-content-section">
            <h1 id="the-island">The Island</h1>
            <div class="content-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe deserunt, nesciunt ea quod expedita sit quam ad fugiat veniam? Numquam, dicta. Perferendis, quis.</div>
            <div class="content-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe deserunt, nesciunt ea quod expedita sit quam ad fugiat veniam? Numquam, dicta. Perferendis, quis.</div>
        </div>
        
        <div class="right-content-section">
            <h1 id="the-food">The Food</h1>
            <div class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facere, deleniti nulla autem dignissimos explicabo consequuntur praesentium laboriosam, ut earum repellat non consectetur recusandae corporis, incidunt veritatis?</div>
            <div class="content-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta facere, deleniti nulla autem dignissimos explicabo consequuntur praesentium laboriosam, ut earum repellat non consectetur recusandae corporis, incidunt veritatis?</div>
        </div>    
    </div>
</div>