.container {
  padding: 0px 100px;
  height: 3000px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid black;
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.products {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 30px;
}

.card-container {
  max-width: 300px;
  cursor: pointer;
  .title {
    font-size: 1.3rem;
    font-weight: bold;
  }
  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}
