<div class="body">
    <div class="left-body">
      <div class="box">
        <p>
          Company
        </p>
      </div>
      <div class="box">
        <p>
          Team
        </p>
      </div>
      <div class="box">
        <p>
          Product
        </p>
      </div>
    </div>
    <div class="right-body">
      <h1>
        Company
      </h1>
      <p>
        Address 1: No. 10, St. 5, Cat Lai ward, Thu Duc city
      </p>
      <p>
        Our company was established in 2000, we have been providing oursource services for over 1000 customers over the past 20 years.
      </p>
      <p>
        Our services includes:
      </p>
      <ol>
          <li> Web application </li>
          <li> Mobile application </li>
      </ol>
    </div>
</div>