<div class="container">
    <form class="add-product-form" [formGroup]="updateProductForm" (submit)="onSubmit()">
      <h1>Update product</h1>
      <div class="row-control">
        <mat-form-field appearance="outline">
          <mat-label>Product name</mat-label>
          <input matInput placeholder="Product name" formControlName="name">
        </mat-form-field>
      </div>
      <div class="row-control">
        <mat-form-field appearance="outline">
          <mat-label>Price</mat-label>
          <input type="number" matInput placeholder="Price" formControlName="price">
        </mat-form-field>
      </div>
      <div class="row-control">
        <mat-form-field appearance="outline">
          <mat-label>Image URL</mat-label>
          <input matInput placeholder="Image URL" formControlName="imageUrl">
        </mat-form-field>
      </div>
      <div class="row-control">
          <label>
            Sizes
          </label>
          <mat-checkbox *ngFor="let size of sizes" (change)="addSize($event, size.id)">{{size.value}}</mat-checkbox>
      </div>
      <div>
        <mat-form-field appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories" [value]=category.id>
                    {{category.value}}
                </mat-option>
            </mat-select>>
        </mat-form-field>
      </div>
      <div class="row-control row-actions">
        <button mat-raised-button color="primary" type="submit">Add</button>
        <button mat-raised-button color="basic" type="button" routerLink="/products">Cancel</button>
      </div>
    </form>
    <!-- <pre>{{ addProductForm.value | json }}</pre> -->
</div>