<div class="body">
    <div class="side">
        <a href="/home#flight">The Flight</a>
        <a href="/home#city">The City</a>
        <a href="/home#island">The Island</a>
        <a href="/home#food">The Food</a>
    </div>
    <div class="main">
        <div id="flight">
            <h1>The Flight</h1>
            <p>
            Chania is the capital of the Chania region on the island of Crete.
            The city can be divided in two parts, the old town and the modern
            city.
            </p>
            <p>
            You will learn more about web layout and responsive web pages in a
            later chapter.
            </p>
        </div>
        <div id="city">
            <h1>The City</h1>
            <p>
            Chania (Greek: Χανιά [xaˈɲa] (About this soundlisten); Venetian: La Canea) is a city in Greece and the capital of the Chania regional unit. It lies along the north west coast of the island Crete, about 70 km (43 mi) west of Rethymno and 145 km (90 mi) west of Heraklion.
    
    The municipality has 108,642 inhabitants (2011). This consists of the city of Chania and several nearby areas, including Kounoupidiana (pop. 8,620), Mournies (pop. 7,614), Souda (pop. 6,418), Nerokouros (pop. 5,531), Daratsos (pop. 4,732), Perivolia (pop. 3,986), Galatas (pop. 3,166) and Aroni (pop. 3,003).
            </p>
        </div>
        <div id="island">
            <h1>The Island</h1>
            <p>
            The principal town of the area is Chania, a Venetian port, whose attractive and lively harbour provides the perfect setting for an evening stroll before dinner at one of the many waterfront tavernas. Behind the harbour a maze of narrow back streets links with a mixture of old Venetian and Turkish houses, often stunningly decorated with hanging flowers. Five minutes’ walk away is Chania’s covered market, well-known for the wide variety of fresh produce on offer. Nearby, local handicraft shops provide a good place to find handmade leather goods, rugs and lace.
            </p>
        </div>
        <div id="food">
            <h1>The Food</h1>
            <p>
            Here, in a deep mystic atmosphere, wander around various food stores, and taste the divine gifts of Cretan Nature!
    
    Search for all the ingredients of the world renowned Cretan diet: aromatic herbs and fresh edible weeds, virgin olive oil, pulses and vegetables, cereals, fish, meat, dairy products, honey and fennel.
    
    Taste culinary delights like fresh handmade wedding cookies, dry bread wreaths, graviera cheese (full fat sheep’s cheese with appellation of controlled origin), sweet smelling anthótyros from Sfakia (fresh, soft, white cheese made of either sheep’s or goat’s milk), fresh stàka butter (the cream of the butter) for the Cretan wedding rice (rice cooked in meat broth), roasted goat or sea food delights – special ingredients blended in delicious sea-urchin salads or divine fish soups!
    
    
            </p>
        </div>
    </div>
</div>