.content{
    display: flex;
    flex-direction:row;
    width: 100%;
    /* position: relative; */

.col1{
    /* display: inline; */
    /* position: absolute;
    float: left;
    width: 40%; */
    /* flex-direction:row */
    // flex-grow: 3;
    flex-shrink: 0;
    flex-basis: 150px;
    // border: 0px solid;
    // padding: 0px 10px;


    a{
  
  width: 70%;
    display: block;
    border: 0px solid;
    padding:6px 0px 6px 30px;
    text-align: left;
    background-color: rgb(15, 30, 165);
    color: white;
    text-decoration: none;
    margin: 30px auto 30px auto;

&:hover{
  background-color: rgb(89, 35, 102);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    }
}
.col2{
   
  /* display: inline; */
  
  margin: 1% auto 0% auto;
  overflow: scroll;
//   flex-grow: 1;
  /* width: 95%; */
  height: 300px;
  /* width: 20%; */
  /* text-align: center; */

}
}