<div style="margin-left:20%; padding:1rem;">
    <img src="https://img.poki.com/cdn-cgi/image/quality=78,width=314,height=314,fit=cover,g=0.5x0.5,f=auto/b5bd34054bc849159d949d50021d8926.png" alt="" width=100>
    <h2>Xin chào mọi người, mình tên là Huỳnh Đình Quang Khải</h2>
    
    <p>Sở thích của mình là:</p>
    <ul>
        <li>Ăn</li>
        <li>Ngủ</li>
        <li>Chơi game</li>
    </ul>    
    
    <h2>
        Mời các bạn đặt câu hỏi cho mình:
    </h2>
    <input type="text" placeholder="Dat cau hoi">
    <button>
        Xác nhận
    </button> 
    
    
</div>   
    
    
    


