@import "../variable";

.side-bar {
  @include absolute($top: 30px);
  display: flex;
  flex-direction: column;

  a {
    @include flex(
      $w: 160px,
      $h: 50px,
      $bg: #0c4e66,
      $pd: 0 0 0 10px,
      $jc: unset
    );
    margin: 5px 20px;
    color: #ffffffd7;
    font-size: 17px;
    text-decoration: none;

    &:hover {
      color: #ffffff;
      background-color: #0a4257;
    }
  }
}

.content {
  width: calc(100% - 200px);
  margin-left: auto;
  height: 100%;
  overflow-y: auto;
  div {
    margin: 25px 0;
  }
  h1 {
    padding-left: 15px;
  }
  p {
    padding: 14px 20px;
    line-height: 26.5px;
    font-size: 17.5px;
    text-align: justify;
  }
}
