
<div class="side-bar">
  <a (click)="scroll(flight)">The Flight</a>
  <a (click)="scroll(city)">The City</a>
  <a (click)="scroll(island)">The Island</a>
  <a (click)="scroll(food)">The Food</a>
</div>

<div class="content">
  <div #flight>
    <h1>The Flight</h1>

    <p>
      Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Distinctio, dolores. Laborum recusandae illum enim nesciunt
      consequuntur error corporis sapiente rerum quisquam aut inventore
      quas quos nemo harum delectus, fugiat cupiditate! ipsum dolor sit,
      amet consectetur adipisicing elit. Aspernatur consectetur ad fuga
      enim repellendus vero nam quasi illo, accusamus ullam cupiditate
      similique illum deserunt totam libero, minus maiores officia
      sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Odit a itaque cumque veniam ad. Nemo molestias repellendus,
      consectetur voluptatem a deserunt fuga necessitatibus, distinctio
      aperiam dolorem voluptate officia numquam aspernatur. Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Ea labore, voluptatum
      omnis minima, quod vero tempora officia nihil assumenda fugit quos
      atque iusto voluptatem, veniam consequuntur nemo! Eligendi natus
      eius perspiciatis dolor repudiandae doloribus at hic delectus
      sapiente, voluptate facere fugit in eum! Reiciendis provident dolor
      accusantium sunt excepturi, nulla hic cupiditate rem, ab asperiores
      itaque voluptatibus quo vel repellat tempora atque repudiandae nemo!
      Consequuntur cupiditate quisquam aliquam officiis excepturi
      perspiciatis molestias veniam dolore. Odit sunt repellat unde
      adipisci nulla rerum, deleniti doloremque consectetur odio ab
      dolorum eaque quod illum fugiat non accusantium officia fugit
      debitis facere sed voluptates qui labore. Dicta esse dolorem alias
      consequuntur maiores recusandae voluptate pariatur fugit beatae
      sapiente eveniet, cum porro labore magnam repellendus iure
      praesentium et error libero inventore animi? Perferendis magni eaque
      doloremque omnis harum quos, ad deserunt eveniet vel amet!
      Exercitationem tempore recusandae dignissimos. Aut commodi molestias
      mollitia magni aperiam labore sit odio soluta numquam suscipit vitae
      earum debitis, illo officia blanditiis inventore porro vero aliquid,
      ullam exercitationem eos. Minima recusandae voluptas, asperiores
      nostrum adipisci nihil modi natus quo laborum nam, consequatur
      explicabo ipsa ipsam neque quas voluptatem atque repudiandae nobis
      quis quod odit possimus ad quisquam. Molestiae nemo libero placeat
      expedita.
    </p>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati
      fugit, vel rem laboriosam nihil, atque ducimus vitae exercitationem
      tenetur ipsum quisquam corporis officiis et sequi? Enim dolore quis
      deleniti, vel iure ullam quidem, rerum doloribus in exercitationem
      blanditiis ad ratione odit aut? Sunt nisi corrupti quae animi,
      possimus pariatur recusandae. Accusamus natus libero quis laboriosam
      eveniet facere, praesentium aspernatur tempora, veniam, quisquam
      dolorum numquam. Sit labore beatae a quo, veniam magni! Itaque
      impedit ut voluptatibus fugit dolorem sit eveniet aut doloremque
      maiores corporis hic blanditiis, totam temporibus? Nisi magnam neque
      hic cupiditate, officiis qui porro? Perferendis voluptatum hic
      cumque tenetur.
    </p>
  </div>
  <div #city>
    <h1>The City</h1>

    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsam
      accusantium ea corporis velit ex nisi nemo praesentium iure nesciunt
      aliquam quibusdam sit harum sed, necessitatibus adipisci magnam
      labore eum qui. Saepe assumenda vel obcaecati hic corrupti vitae est
      ab velit quis doloremque, natus deserunt similique praesentium
      impedit, sunt neque. Tenetur, tempore culpa? Assumenda minus
      accusamus reiciendis corporis accusantium ullam, quam rem? Fugiat
      odit placeat libero quam, reiciendis neque velit. Mollitia
      consequuntur eum non quos optio eaque at quas reprehenderit
      repudiandae facere? Totam, quidem ex! Eius facilis rem quos iste
      nemo illo vel. Repellendus at atque minima aspernatur illo accusamus
      beatae quasi! Aperiam deserunt rerum inventore harum tempora autem
      quas nostrum, id ut. Veritatis laudantium eos sed. Soluta obcaecati
      autem dolore quo possimus dignissimos nam cupiditate quidem,
      repellendus impedit? Quia cumque consectetur, provident quibusdam
      repellat velit voluptatibus enim sint illum atque molestias omnis
      ducimus earum repudiandae quo ullam ad delectus! Lorem ipsum dolor
      sit, amet consectetur adipisicing elit. Aspernatur consectetur ad
      fuga enim repellendus vero nam quasi illo, accusamus ullam
      cupiditate similique illum deserunt totam libero, minus maiores
      officia sapiente.

    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae,
      suscipit excepturi veritatis repellendus non laudantium quae
      voluptates expedita delectus soluta quasi quaerat fuga quos porro
      quidem eum qui adipisci, atque sint animi. Assumenda vitae dolorum,
      unde iusto animi obcaecati esse numquam deserunt rem cupiditate hic
      nobis dicta earum similique ipsum architecto, necessitatibus eveniet
      fuga sit voluptates. Distinctio accusamus natus odio error maxime
      assumenda itaque consequuntur dicta ipsam, exercitationem iure
      accusantium quod, cum voluptatum dolor molestiae magni soluta dolore
      id harum minima! Minus esse voluptate sed laborum, perferendis iure
      nulla voluptatem corrupti, ullam, maxime eaque ut? Quia aut placeat
      totam cum. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Facere enim tempora fugit autem vel, tenetur dicta nihil beatae
      molestias. Consequuntur!
    </p>
  </div>
  <div #island>
    <h1>The Island</h1>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere
      earum alias quia quae? Nemo voluptates, amet vero nam aut similique
      optio maxime nisi provident quam maiores laborum, eos voluptatem, ad
      qui eveniet officiis perspiciatis animi tempore aliquam. Officia
      voluptatem laboriosam ipsa, non nisi, odit, fugit tempora rem
      reiciendis optio suscipit molestiae voluptate! Mollitia consequatur
      iste quos enim iusto cum beatae fugit nulla, perferendis nobis
      numquam culpa maxime eligendi quibusdam asperiores voluptatibus amet
      tempore cupiditate saepe repellendus aspernatur modi esse atque? Est
      voluptatibus aut sunt? Excepturi dolor sunt suscipit ipsam enim.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
      consectetur ad fuga enim repellendus vero nam quasi illo, accusamus
      ullam cupiditate similique illum deserunt totam libero, minus
      maiores officia sapiente.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
      sapiente maxime eaque repellendus aliquam, veritatis non vel veniam
      ipsam exercitationem sed magni provident quis asperiores
      reprehenderit accusantium tenetur accusamus, modi neque! Aut nemo
      ipsa at ullam corrupti. Repudiandae saepe architecto tempore
      molestiae ratione soluta vero possimus, fuga quos sit corporis harum
      odit eum tempora nemo at rerum odio iste praesentium aut ducimus
      itaque, ullam aliquid voluptatem. Voluptate officia placeat commodi
      beatae magni laudantium similique, molestias laboriosam suscipit
      tenetur, sed amet temporibus. Cumque, natus? Eius aperiam fugiat
      harum ut corporis eveniet cupiditate quos porro dolore, eum aut
      ipsum accusantium deleniti possimus molestiae laudantium praesentium
      dolor quisquam commodi quasi nostrum? Earum magnam quisquam dolore
      officiis assumenda dolorem, quidem minima sunt. Delectus, explicabo.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere enim
      tempora fugit autem vel, tenetur dicta nihil beatae molestias.
      Consequuntur!
    </p>
  </div>
  <div #food>
    <h1>The Food</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati
      nisi officia harum at quod tempore rerum voluptate modi suscipit
      doloribus distinctio natus eius, dolores quaerat et sapiente
      aperiam, qui consequuntur! Adipisci tempore expedita, tempora
      commodi aut dicta consequatur molestiae facere voluptatem recusandae
      quas porro ex, sit eaque beatae nostrum repellendus temporibus culpa
      similique quisquam? Earum soluta nulla, facere suscipit similique
      aut maiores labore animi eos voluptas fuga. Enim voluptas laborum
      distinctio et id error perferendis quod tempore pariatur
      perspiciatis veniam mollitia, nihil ipsa placeat veritatis odio.
      Laboriosam voluptatem modi, nulla autem dolore error obcaecati
      exercitationem corporis temporibus fugit praesentium asperiores.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur
      consectetur ad fuga enim repellendus vero nam quasi illo, accusamus
      ullam cupiditate similique illum deserunt totam libero, minus
      maiores officia sapiente.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consectetur, laborum ullam! Eos ullam cupiditate alias excepturi
      esse? Perspiciatis tempora, optio suscipit ratione sed nisi facere
      ea quam, perferendis itaque eligendi voluptates cumque qui aliquam
      quod labore praesentium unde consequuntur facilis tenetur numquam
      deleniti dolore totam. Corporis soluta quae, quisquam pariatur
      voluptates aut corrupti? Earum vero ducimus quisquam harum aliquam!
      Quasi, fuga? Obcaecati a aliquam accusantium vitae, exercitationem
      est dolor dicta facilis laboriosam explicabo, earum, nulla
      temporibus saepe magnam minus molestiae! Rem eius temporibus
      molestiae porro, incidunt voluptatem veniam cum ipsam expedita ad
      praesentium ratione voluptas assumenda sequi error eveniet corrupti?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere enim
      tempora fugit autem vel, tenetur dicta nihil beatae molestias.
      Consequuntur!
    </p>
  </div>
</div>
